In [1]:
import pandas as pd
import numpy as np

# READING THE  DATA

In [2]:
df_train=pd.read_csv('train_upvotes.csv')

In [3]:
df_train

            ID Tag  Reputation  Answers  Username    Views  Upvotes
0        52664   a      3942.0      2.0    155623   7855.0     42.0
1       327662   a     26046.0     12.0     21781  55801.0   1175.0
2       468453   c      1358.0      4.0     56177   8067.0     60.0
3        96996   a       264.0      3.0    168793  27064.0      9.0
4       131465   c      4271.0      4.0    112223  13986.0     83.0
...        ...  ..         ...      ...       ...      ...      ...
330040  339800   c        36.0      2.0     84919   1063.0      0.0
330041  253800   c      1649.0      2.0     76730  23319.0     73.0
330042  210756   c      6178.0      2.0     91701   2453.0     15.0
330043   56089   j        89.0      2.0     80245   2107.0      3.0
330044  300553   j      2001.0      4.0    154692   2554.0     37.0

[330045 rows x 7 columns]

# CONVERTING CATEGORICAL DATA TO NUMERICAL

In [4]:
encoded_df=pd.get_dummies(data=df_train,columns=['Tag'])

In [5]:
encoded_df

,ID,Reputation,Answers,Username,Views,Upvotes,Tag_a,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,52664,3942.0,2.0,155623,7855.0,42.0,1,0,0,0,0,0,0,0,0,0
1,327662,26046.0,12.0,21781,55801.0,1175.0,1,0,0,0,0,0,0,0,0,0
2,468453,1358.0,4.0,56177,8067.0,60.0,0,1,0,0,0,0,0,0,0,0
3,96996,264.0,3.0,168793,27064.0,9.0,1,0,0,0,0,0,0,0,0,0
4,131465,4271.0,4.0,112223,13986.0,83.0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330040,339800,36.0,2.0,84919,1063.0,0.0,0,1,0,0,0,0,0,0,0,0
330041,253800,1649.0,2.0,76730,23319.0,73.0,0,1,0,0,0,0,0,0,0,0
330042,210756,6178.0,2.0,91701,2453.0,15.0,0,1,0,0,0,0,0,0,0,0
330043,56089,89.0,2.0,80245,2107.0,3.0,0,0,0,0,1,0,0,0,0,0
330044,300553,2001.0,4.0,154692,2554.0,37.0,0,0,0,0,1,0,0,0,0,0

# REMOVING ID COLUMN

In [6]:
encoded_df.drop(['ID'],axis=1)

,Reputation,Answers,Username,Views,Upvotes,Tag_a,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,3942.0,2.0,155623,7855.0,42.0,1,0,0,0,0,0,0,0,0,0
1,26046.0,12.0,21781,55801.0,1175.0,1,0,0,0,0,0,0,0,0,0
2,1358.0,4.0,56177,8067.0,60.0,0,1,0,0,0,0,0,0,0,0
3,264.0,3.0,168793,27064.0,9.0,1,0,0,0,0,0,0,0,0,0
4,4271.0,4.0,112223,13986.0,83.0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330040,36.0,2.0,84919,1063.0,0.0,0,1,0,0,0,0,0,0,0,0
330041,1649.0,2.0,76730,23319.0,73.0,0,1,0,0,0,0,0,0,0,0
330042,6178.0,2.0,91701,2453.0,15.0,0,1,0,0,0,0,0,0,0,0
330043,89.0,2.0,80245,2107.0,3.0,0,0,0,0,1,0,0,0,0,0
330044,2001.0,4.0,154692,2554.0,37.0,0,0,0,0,1,0,0,0,0,0

# SPLITTING THE DATA INTO TRAIN AND TEST

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(encoded_df.drop('Upvotes',axis=1), 
                                                    encoded_df['Upvotes'], test_size=0.20, 
                                                    random_state=101)

In [9]:
import xgboost
classifier= xgboost.XGBRegressor()
classifier.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [11]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(classifier,X_test,y_test.ravel(),cv=10)

# THE FINAL SCORE

In [13]:
score.mean()

0.8046629924720582